@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--color-goldenrod: 218, 165, 32;
	}
}

html,
body {
	@apply h-full overflow-hidden;
}

body {
	@apply font-sans leading-relaxed;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
/* color pallete   */

.background {
	background-color: "#1D7874";
}
.container {
	display: flex;
	height: 100vh;
	width: 100vw;
}

nav {
	width: 80px;
	height: 100%;
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-title {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding: 20px 0;
	font-size: 1.2em;
	font-weight: bold;
}
.shadow-neon-bottom {
	box-shadow: 0 5px 0 rgb(29, 234, 132), 0 5px 0 rgb(29, 234, 132),
		0 5px 0 rgb(29, 234, 132), 0 5px 0 rgb(29, 234, 132);
	animation: neon-glow-bottom 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow-bottom {
	from {
		box-shadow: 0 5px 0 rgb(29, 234, 132), 0 5px 0 rgb(29, 234, 132),
			0 0 0 10px rgb(29, 234, 132), 0 0 0 10px rgb(29, 234, 132);
	}
	to {
		box-shadow: 0 5px 0 rgb(29, 234, 132), 0 5px 0 rgb(29, 234, 132),
			0 5px 0 rgb(29, 234, 132), 0 5px 0 rgb(29, 234, 132);
	}
}

@keyframes neon-glow-bottom {
	from {
		box-shadow: 0 5px 5px rgb(29, 234, 132), 0 10px 10px rgb(29, 234, 132),
			0 15px 15px rgb(29, 234, 132), 0 20px 20px rgb(29, 234, 132);
	}
	to {
		box-shadow: 0 10px 10px rgb(29, 234, 132), 0 20px 20px rgb(29, 234, 132),
			0 30px 30px rgb(29, 234, 132), 0 40px 40px rgb(29, 234, 132);
	}
}
@keyframes neon-glow-right {
	from {
		box-shadow: 0 0 0 rgb(29, 234, 132), 5px 0 0 rgb(29, 234, 132),
			10px 0 0 rgb(29, 234, 132), 10px 0 0 rgb(29, 234, 132);
	}
	to {
		box-shadow: 0 0 0 rgb(29, 234, 132), 5px 0 0 rgb(29, 234, 132),
			5px 0 0 rgb(29, 234, 132), 5px 0 0 rgb(29, 234, 132);
	}
}

.shadow-neon-right {
	animation: neon-glow-right 1s ease-in-out infinite alternate;
}
.shadow-neon-left {
	box-shadow: -5px 0 0px rgb(29, 234, 132), -10px 0 0px rgb(29, 234, 132),
		-15px 0 5px rgb(29, 234, 132);
	animation: neon-glow-left 0.1infinite alternate;
}

@keyframes neon-glow-left {
	from {
		box-shadow: -5px 0 5px rgb(29, 234, 132), -10px 0 10px rgb(29, 234, 132),
			-15px 0 15px rgb(29, 234, 132);
	}
	to {
		box-shadow: -10px 0 10px rgb(29, 234, 132),
			-20px 0 20px rgb(29, 234, 132), -30px 0 30px rgb(29, 234, 132);
	}
}
.letter-visible {
	opacity: 1;
}

.hover-expand {
	transition: width 0.3s ease-in-out;
}

.hover-expand:hover {
	width: auto;
	max-width: 60vw;
}

.project-skills {
	transition: transform 0.5s ease-in-out;
	transform: translateX(100%);
}

.project-skills.expanded {
	transform: translateX(0);
}

.project-skills.transitioning {
	pointer-events: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

nav ul li {
	margin: 10px 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	/* transform: rotate(180deg); */
	/* padding: 10px 0; */
}

main {
	flex-grow: 1;
	/* padding: 2rem; */
	overflow-y: auto;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
